body {
    font-family: Arial, sans-serif;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.form-container {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #717537;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #595d2b;
}

#responseMessage {
    margin-top: 15px;
    text-align: center;
    color: green;
}
.back-button {
            position: absolute;
            top: 20px;
            left: 20px;
            padding: 8px 15px;
            background-color: #717537;
            color: #000000;
            text-decoration: none;
            border-radius: 4px;
            border: 1px solid #ccc;
            font-size: 14px;
            transition: all 0.3s ease;
        }
        .form-container {
        width: 27%;
        }
        
        .back-button:hover {
            background-color: #595d2b;
        }
        body{background-image: url(Otkliks.png);
            font-family: Arial, sans-serif; /* или любой другой предпочитаемый шрифт */
}

        
        